.header {
  background-color: #cc80dc;
  color: white;
  padding: 10px 20px 10px 20px;
}

.purple {
  color: #cc80dc;
}

.orange {
  color:#ffac00;
}

.form p {
  font-weight: 500;
  margin-bottom: 10px;
}

.form img {
  margin-right: 5px;
}

.input-option {
  font-weight: 500 !important;
}

.btn-purple {
  border-radius: 20px;
  margin-right: 5px;
  padding: 2px 10px 2px 10px !important;
  background-color: #f9f2fb;
}

.active {
  background-color: #cc80dc;
}

.vertical-middle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.boundary {
  margin-top: 7px;
}

.choices {
    margin-left: 20px;
    margin-bottom: 10px;
} 

.description {
  margin-top: 10px;
  font-weight: 500;
}

.proses {
  font-size: 30px;
  font-weight: 500;
}

.text-wrapper {
  padding-left: 20px;
}

.title {
  font-size: 22px;
  font-weight: 400;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-top: -5px;
}