.vertical-middle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.header {
  background-color: #cc80dc;
  padding:10px 20px 10px 20px;
  color: white;
}

.overlay {
  background-color: rgba(0,0,0, 0.7);
  display: none;
  height: 100vh;
  widows: 100vw;
}

.title {
  padding-left: 0px !important;
}

.maids-info {
  width: 200px;
}

.maids-info img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 10px;
}

.upper-info{
  padding: 10px 25px 10px 25px;
  align-items: flex-end;
  font-size: 14px;
  margin-bottom: 10px;
}

.left {
  padding-right: 5px;
}

.right {
  padding-left: 5px;
}

.info-wrapper {
  margin-top: 15px;
}

.count {
  /* font-family: 'Source Code Pro'; */
  font-size: 33px;
  font-weight: 500;
  color: #636263;
}

.purple {
  color: #cc80dc;
}

.edit-button {
  border: 1px solid #cc80dc;
  border-radius: 30px;
  background: none;
}

.yellow {
  color: #ffac00;
}

.suffix {
  font-size: 14px;
  margin-top: -15px;
}

.name {
  font-weight: 500;
}

.desc {
  font-size: 14px;
  margin-bottom: 5px;
}

.maids-detail {
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  bottom: 10px;
  color:white;
  width: 180px;
  text-align: center;
  z-index: 3;
}